

main{
      min-height: 500px;
      background-color: hsla(213,2%,4%,0.35);
      background-image:
      radial-gradient(at 40% 20%, hsla(28,75%,17%,1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(184,87%,85%,1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(240,90%,46%,1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(340,4%,13%,1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(19,58%,17%,1) 0px, transparent 50%),
      radial-gradient(at 63% 97%, hsla(193,60%,19%,1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(343,75%,17%,1) 0px, transparent 50%);
  }
  ;


#section-banner{
    min-height: 400px;
}

#section-banner img{
    height: 500px;
}

h2{
  font-family: Helvetica;
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
    color: rgb(242, 244, 247);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: auto;
  }
  
  mat-grid-list{
    margin: 40px 0px;
  }

  mat-grid-tile{
    padding: 30px;
    border-radius: 30px;
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    justify-content: space-around;
    justify-items: end;
    justify-self: flex-end;
  }  

  mat-card-actions p{
    color: red;
    font-size: 30px;
  }

  mat-card img{
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    

  }





